
@import "libs";
@import "vars";
@import "nav";


html, body {
  box-sizing: border-box;
	height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit; }

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	overflow-x: hidden;
	opacity: 1;
	font-family: $hn;
	color: #000;
}

h1, h2, h3, h4, h5 {
	font-family: $hb;
	color: #192d57;
}
img {
	max-width: 100%;
}

@media (min-width: 1200px) {
	.container {
    max-width: 1170px;
}
}
.main-header {
	.row {
		.nav-l {
			padding-right: 0;
      width: 25%; 
      padding-left: 15px;

		}
		.nav-r {
			padding-left: 0;
      width: 75%; padding-right: 15px;
		}
		[class*="col-"]
		{
			// padding-left: 0 !important;
   //          padding-right: 0 !important;
		}
	}
}
.mobil-section {
  display: flex; 
  justify-content: space-between;
}
.logo-navi {
  background: #fff; width: 250px; 
}
section {
	padding: 60px 0;
	position: relative;
}
.section_title {
	padding: 20px 0 35px 0;
	h2 {
		color: #192d57;
		text-transform: uppercase;
	}
}

.btn-radius {
	border-radius: 50px;
	padding: .9rem 1.8rem;
}
.wrap {
	position: relative;
	overflow: hidden;
  width: 100%;
}
.home-slider {
     
	div {
		background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 700px;	
  }
}
.main-slide{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 700px;
}

.main-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 560px;
	z-index: -1;
	div {
	 background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 560px;
    background-attachment: fixed;
	}
}
.home {
	header {
	  position: relative;
	  
	  min-height: 700px;
	}
}
.nav-top-section {
  .row {
    justify-content: space-between;
  }
}
.lang {
  padding-right: 10px;
  .nav {
    li {
      
      a {
        color: #fff;
        padding: 0 5px;
        transition: all .25s ease;
        &:hover {
          text-decoration: none;
          color: #f5a610;
        }
      }
    }
    .active {
        a {
          color: #f5a610;
        }

      }
  }
}


.fixed-header {
	 position: fixed;
   z-index: 99999;
   background: #fff;
   transition: width 0.5s;
   width: 100%;
   top: 0;
  padding-left: 0;
	padding-right: 0;
	// box-shadow: 0px 15px 10px -15px #111;
	box-shadow: 0 1px 12px 0 rgba(0,0,0,0.4);
  .top-nav, .nav-top-section {
  	display: none;
  }
.logo {
	padding-top: 12px;
	padding-bottom: 0;
	height: auto;
}
}
.head-desc {
	position: absolute;
	bottom: 120px;

}

.top-nav {
	color: #fff;
	i {
		font-size: 20px;
		margin: 0 10px;
	}
  .top-icons-left {
    padding-left: 5px;
  }
	.top-icons-right 
  {
   padding-right: 28px;
		a {
			color: #fff;
		}
		
	}
}

.nav-top-section {
  span {
    i {
      margin-right: 5px;
    }
  }
}
header {
   min-height: 560px;
   z-index: 99999;
	.descr {
		margin-top: 150px;
		text-align: center;
		position: relative;

		h1 {
      color: #fff;
      text-transform: uppercase;
          
		}
		i {
			padding-left: 2px;
		}
	}
}

.main-navigation ul li:last-child {
  &:hover {
    color: 0;
  }
  .btn {
    margin-top: 10px;
    background-color: #fff;
    color: $blu;
    padding: .575rem 1.1rem;
    border-radius: 50px;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: #007bff;
      border-color: #007bff;
      color: #fff;
    }
  }
}
.main-navigation ul li:last-child:hover .btn:after {
    display: none;
}
.mobil-section {



.hamburger{
  display: block;
  cursor: pointer;
  width: 50px;
  
}
.bar{
  display: block;
  width: 40px;
  height: 2px;
  background: #fff;
  margin: 10px auto;
  transition: 0.2s ease-in;
}
// .active {
//   color: red;

// }
// .active :first-child{
//   background-color: #f5a610;
// }
// .active :nth-child(2){
//   background-color: #f5a610;
// }
// .active :nth-child(2){opacity:0}
// .active :last-child{
//   background-color: #f5a610;
// }
// .active :last-child{
//   transform:
//     rotate(-45deg)
//     translate(14px, -14px);
// }


// .responsive :first-child{
//   transform:
//     rotate(45deg)
//     translate(2px, 14px);
// }
// .responsive :nth-child(2){width: 0;}
// .responsive :last-child{
//   transform:
//     rotate(-45deg)
//     translate(4px, -15px);
// }
.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
    outline: 0;
}

}





.head-about {
   .btn {
   	text-transform: uppercase;
   	border-radius: 24px;
   	padding: .7rem 2em;
   }
}

.btn-primary {
    color: #fff;
    background-color: #003c80;
    border-color: #003c80;
}







.products-home {
	 background-color: #f6f7fa;
	 padding-bottom: 80px;
}
	.products-item {

	  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    background-color: #ffffff;
    margin-bottom: 25px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:hover {
    margin-top: -14px;
    box-shadow: 0 3px 6px rgba(0,0,0,.3);
    .products-item--title {
    	h4 {
    		&::before  {
          border-left: 3px solid #003c80;
    		}
    	}
    }

    .products-item--img {
    		img {
    			opacity: 0.8;
    		}
            
    	}

  }
    .products-item--title {
    	height: 100px;
    	padding: 15px 20px;
    	h4 {
    		font-size: 1rem;
    		transition: all .3s ease-in-out;
    		position: relative;
    		&::before  {
    			position: absolute;
          content: ""; /* This is necessary for the pseudo element to work. */ 
         display: block; /* This will put the pseudo element on its own line. */
         margin: 0 auto; /* This will center the border. */
         height: 30px;
         border-left: 3px solid transparent;
         left: -20px;
         transition: all .3s ease-in-out;
    		}
    		a {
         color: #192d57;
         transition: all .3s ease-in-out;
    		}
    	}

    }

    &--img {
    		transition: all .3s ease-in-out;
    		overflow: hidden;
            background: #333;
            img {
            	opacity: 1;
            	transition: all .3s ease-in-out;
            }
    	}
	}


.lastnews-home {
	.btn-radius {
    transition: all .3s ease-in-out;
    padding: .9rem 2rem;
    &:hover {
    	border-radius: .5rem;
    }
}
}

.homePost {
	//box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04);
  transition: all .3s ease-in-out;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #ffffff;
  cursor: pointer;
  margin-bottom: 20px;
  .homePost-content {
  	padding: 18px 22px;

   .homePost-date {
   	  color: #b5b5b5;
   	  margin: 10px 0;
   	  font-size: 13px;
   }
   
   a {
   	transition: all .3s ease-in-out;

   }
  }

  &:hover {
  	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
   .homePost-img {
   	img {
   		opacity: 0.7;
   		transform: scale(1.05);
   	}
   }
   a {
     margin-left: 2px;
     // color: #0062cc;
     text-decoration: none;
   }
  }
  .homePost-img {
  	 overflow: hidden;
  	 background: #555;
  	 img {
  	 	
  	 	opacity: 1;
  	 	transition: all .3s ease-in-out;
  	 }
  }
}
.zakaz {
	background-color: #003c80;
	color: #fff;
  padding: 35px 0;
	p {
		font-family: $hb;
	}
	.btn-default {
		background-color: #fff;
		transition: all .3s ease-in-out;
		&:hover {
			color: #fff;
			background-color: #007bff;
			border-radius: .5rem;
		}


	}

  .btn-radius {
    padding: 1.3rem 1.9rem;
    font-size: .96rem;
}


}
/*About Page*/


	
	header .descr {
    margin-top: 170px;
    
}


.about-desc	{
	.lider {

		p {
			font-size: 27.4px;
		}
		span {
			color: #003c80;
		}
	}	
		.lider-text {
			p {
				font-size: 15px;
			}
		}
	
}
.about-desc {
	background-color: #f9f9f9;
}
.doverie-item {
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

	border-radius: 6px;
	padding: 15px 0px 0 0px;
	
	position: relative;
	cursor: pointer;
	&:after {
    content: '';
    display: block;
    // clear: both;
    height: 2px;
    width: 0;
}
	&:hover {
       box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
		&:after {
			transition: all 0.9s ease-in-out;
			background: $blu;
			width: 100%;
		}
		img {
			margin-left: 13px;
			transform: scale(1.25);
		}
		.doverie-item--content {
			p {
				color: $blu;
			}
		}
	}
	 
	.doverie-item--icon {
      padding: 15px 20px;
      img {
        transition: all .3s ease-in-out;
      }
	}
	.doverie-item--content {
		padding: 15px 20px;
		height: 120px;
		p {
			font-size: 24px;
			transition: all .3s ease-in-out;
		}
	}
}
.gallery {
	.gallery-item {
		position: relative;
	}
	img {
		object-fit: cover;
      display: block;
		border-radius: 6px;
		transition: 0.3s ease-in-out;
		
		opacity: 1;
		&:hover {
		transform: scale(1.09);
      box-shadow: 0 18px 25px rgba(0,0,0,0.4);

		}
		
	}
	.one-img {
		
		img {
			height: 430px;
			width: 100%;
		}
	}
	.two-img {
		img:nth-child(1) {
			margin-bottom: 35px;
		}
	}
}




/*End About Page*/

/*Catalog Page*/
.catalog {
	// background-color: #e4e7f0;
	background-color: #f6f7fa;
}
.list-products {
	
	padding-top: 30px;
	
}

.listproduct-item {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    background-color: #ffffff;
    margin-bottom: 25px;
    transition: all .3s ease-in-out;
    cursor: pointer;

    ul {
    	li {
    		
    		border-bottom: 1px solid #e5ebf2;
    		transition: all .3s ease-in-out;
    		&:hover {
    			border-bottom: 1px solid #fff;
    		}
    		a {

          height: 87px;
    			transition: all .3s ease-in-out;
    			color: #192d57;
    			font-family: $hb;
    			font-size: 17px;
    			padding-left: 12px;
    			display: block;
    			line-height: 1.5;
    			padding: 28px 0 30px 15px;
    			position: relative;
    			// &:after {
       //    content: "\f105";
       //    position: absolute;
       //    right: 10%;
       //    top: 18px;
       //    opacity: 0;
       //    color: $blu;
         
       //    font: normal normal normal 24px/1 FontAwesome;
       //    transition: all .3s ease-in-out;
       //   }         
    			&:hover {
    			text-decoration: none;
    			padding-left: 18px;
    			// background-color: #007bff;
    			background-color: $blu;
    			color: #fff;
    			// &:after {
    			// 	opacity: 1;
    			// 	margin-left: 0;
    			// 	color: #fff;
    			// }
    		}
    		}
    		
    	}
    }
}




/*End Catalog Page*/

/*End Servces Page*/

.services {
	background-color: #f6f7fa;
}
.service-item {
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    background-color: #ffffff;
    margin-bottom: 25px;
    padding: 40px 15px;
    transition: all .3s ease-in-out;
    &:hover {
    	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    	a {
    		color: $blu;
    	}
    }
    a {
       font-size: 14px;
       color: #000;
       transition: all .3s ease-in-out;
    }
    img {
    	margin-right: 10px;
    }
}
/*End Servces Page*/


.faqs {
	background-color: #f6f7fa;
	padding-bottom: 40px;

.accordion {
	margin-bottom: 35px;
	border-radius: 6px;
  .card {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
  
  cursor: pointer;
  .card-header {
  	padding: 25px 18px 25px 18px;
  	background-color: #ffffff;
  	border-radius: 6px;
  	position: relative;
  	min-height: 163px;
  	a {
  		padding: 0 7px;
  		display: block;
  	}
  }
}
.card-body {
	p {
		
		margin-bottom: 0;
	}
}
.card-title {
    margin-bottom: 0;
}
 }


.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f106";
    position: absolute;
    top: 40px;
    right: 22px;
    font-size: 40px;
    transition: all .3s ease-in-out;
    color: #007bff;
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    font-family: 'FontAwesome';  
    content: "\f107"; 
    color: $blu;
}

}

.garant {
	background-color: #f6f7fa;
	padding-top: 0;
}

.faqs-contact, .contact, .blog,.zakaz-container {
	background-color: #f6f7fa;
}
.faqscontact-item {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    background-color: #ffffff;
    padding: 35px;
    color: #000;
    transition: all .3s ease-in-out;
    &:hover {
    	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    }
    h3 {
    	color: #000;
    	margin-bottom: 25px;
    }

}
.faqs-form {
    	.form-control {
    		border-radius: 21px;
    		padding: .575rem 1.4rem;
    		height: calc(2.95rem + 2px);
    	}

    	.border-radius {
    		padding: 1.2rem 2.2rem;
    		border-radius: 50px;
        font-size: .9rem;
        margin-top: 15px;
    	}
    	.form-group {
    margin-bottom: 1.4rem;
}
.form-control::-webkit-input-placeholder {
  color: #000;
}
.form-control::input-placeholder {
  color: #000;
}
.form-control::-moz-input-placeholder {
  color: #000;
}
    }
.faqs-addres {
	ul {
		li {
			font-size: 18px;
			padding: 21.8px 0;
			i {
				margin-right: 5px;
				font-size: 19px;
			}
			&:last-child {
				i {
					color: #000;
					margin-right: 10px;
				}
			}
		}
	}
}
.post {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  background-color: #ffffff;
  color: #000;
  margin-bottom: 35px;
  transition: all .3s ease-in-out;
  &:hover {
  	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  	.entry-title a {
  		text-decoration: none;
   	// color: #007bff;
  	}
  	figure {
  		img {
  			transform: scale(1.09);
  			
  		}

  	}
  }
figure {
	transition: all .3s ease-in-out;
	
	opacity: 1;
	overflow: hidden;
	img {
		transition: all .3s ease-in-out;
		
	}
}
}
.blog {
	padding-bottom: 40px;
}
.post-meta {
  	padding: 25px;

  }
  .entry-title {
  	margin-bottom: 20px;
  }
.entry-title a {
   color: #192d57;
   transition: all .3s ease-in-out;
   
   
}
.byline {
	color: #b5b5b5;
}
.more {
	margin: 0 10px;
}


aside {
	a {
		transition: all .3s ease-in-out;
		&:hover {
			text-decoration: none;
		}
	}
	transition: all .3s ease-in-out;
	h4 {
    font-size: 1.3rem;
    margin-bottom: 25px;
}
.b-text {
	transition: all .3s ease-in-out;
	width: 80%;

		.byline {
			font-size: 12px;
		}
	
}
.b-media {
	width: 20%;
}

ul {
	li {
		margin-bottom: 15px;
    a {
       font-size: 14px;
		   display: flex; 
		   align-items: center;
		   color: #434343;
		   transition: all .3s ease-in-out;

    }
	}
}
.faqscontact-item  {
	padding-top: 25px;
	padding-bottom: 25px;
	h5 {
		margin-bottom: 20px;
		color: #000;
	}
}

}
.footer-social {
	span {
		font-family: $hb;
		margin-right: 8px;
		float: left;
		margin-top: 3px;
	}
	a {
		transition: all .3s ease-in-out;
    border-radius: 10rem;
    background-color: $blu;
    color: #fff;
    display: block;
    width: 37px;
    height: 37px;
    position: relative;
    line-height: 35px;
    border: 1px solid transparent;
    i {
    	position: absolute;
    	top: 29%;
    	left: 30%;
    	font-size: 16px;
    }
    .fa-facebook {
    	left: 33%;
    }
    &:hover {
    	background-color: #fff;
    	color: $blu;
    	border: 1px solid $blu;
    }
	}
	ul {
		li {
			margin-right: 9px;
		}
	}
}


.products {
	background-color: #f6f7fa;
	padding-bottom: 40px;
}

.product-desc {
	margin: 15px 0;
	h2 {
		margin-bottom: 15px;
	}
	p {
		margin-bottom: 0;
		line-height: 1.5;
	}
}
.menu-products {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
	border-radius: 6px;
	transition: all .3s ease-in-out;
	&:hover {
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
     
	}
	ul {
		li {
		margin-bottom: 0;
		border-bottom: 1px solid #e5ebf2;
		transition: all .3s ease-in-out;
		&.active {
			a {
				background-color: $blu;
				color: #fff;
			}
		}
		&:hover {
			.submenu {
     background-color: $blu;
     transition: all .3s ease-in-out;
    }
		}
		a {
			display: block;
			padding: 20px 18px;
			background-color: #fff;
			transition: all .3s ease-in-out;
			font-size: 16px;
      &:hover {
      	background-color: $blu;
      	color: #fff;
      }
		}
	}
	.submenu{
		list-style-type: none;
		margin: 0;
		padding: 0;
		// overflow: hidden;
  //   max-height: 0;
    transition: all 0.5s ease-out;
   li {
   	a {
   		background-color: #007bff;
   		padding-left: 26px;
   		color: #fff;
   		transition: all 0.5s ease-out;
   		&:hover {
      	background-color: $blu;
      	color: #fff;
      }
   	}
   }
	}

	}
	
}
.table-product {
	margin: 25px 0;
	

	table {
  transition: all .3s ease-in-out;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
	border-radius: 6px;
  &:hover {
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
	}
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 1076px) {
  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
}

.products-content {
	margin-bottom: 30px;
  .pdf-item {
    flex-wrap: initial;
    justify-content: center;
  }
 .colm {
  padding-left: 8px;
  padding-right: 8px;
  .service-item {
    padding: 15px 8px;


    a {
      font-size: 13.5px;

    }
  }
 }
	
}

.products-categories {
	p {
		font-size: 15px;
	}
}

.productsCat-items {
.products-item .products-item--title {
	  display: flex;
	  align-items: center;
    justify-content: center;
    height: 100px;
    padding: 25px 20px 20px 20px
}

}
.products-categories {
	.listproduct-item {
		ul {
			li {
				display: flex;
	  align-items: center;
    
				a {
					width: 100%;
					font-family: $hn;
					font-size: 15px;
				}
			}
		}
	}
}

.tooltip > .tooltip-inner {background-color: #f1f1f1;}
.tooltip > .tooltip-arrow { border-bottom-color:#f1f1f1; }

.zakaz-container {


.zakaz-table {
	transition: all .3s ease-in-out;
	table {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);	
  transition: all .3s ease-in-out;
  border-collapse: collapse;
  margin: 25px 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;

}
thead {
	cursor: pointer;

	tr {
		th {
			padding: 1.3em .625em;
			span {
				opacity: 0;
				transition: all .3s ease-in-out;
			}
			
		}
    th:nth-child(1) {
        width: 170px;

        
        span {
          opacity: 1;
        }

    }
    th:nth-child(2) {
        width: 280px;
        
        span {
        	color: $blu;
        	opacity: 1;
        }
        
    }
	}
}
.ActiveClass {
	tr {
		th:nth-child(1) {
        span {
        	opacity: 0;
        }
      

    }
		th {
			background-color: $blu;
			span {
				opacity: 1;
				color: #fff!important;
			}
			
		}
	}
}


table tr {
  background-color: #fff;;
  border: 1px solid #ddd;
  padding: .35em;
}
// table {
// 	.colapsed thead th {
// 	background-color: $blu;
//     color:#fff;
// }
// }
table th,
table td {
  padding: .625em;
  text-align: center;
  
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 1124px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 40px;
    margin: -1px;
    overflow: hidden;
    padding: 18px 5px;
    // position: absolute;
    width: 100%;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
th:nth-child(1) {
        display: none;


    }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;

  }



.counter {
  justify-content: flex-end;



  .onlyNumber {
    width: 60px;
    text-align: center;
  }
  [type=button]:first-child {
    margin-right: 0;
  }
}

.input-last {
  justify-content: flex-end;

  .form-control {
    width: 50px;
    margin-right: 55px;
  }
}


.ActiveClass {
  thead {
    tr th {
      span {
        opacity: 0;
      }
      
    }
    th:nth-child(2) {
      span {
        opacity: 1;
      }
    }
  }
}




}










}

	







.counter {
	justify-content: center;
  .number {
  display: flex;
  justify-content: center;
  width: 160px;
  text-align: center;
  
}

	span {
		cursor: pointer;
		width: 32%;
		display: block;
		font-size: 22px;
		font-weight: bold;
    
	}
	.form-control {
		width: 30%;
	}
  [type=button] {
    background-color: transparent;
    border-color: transparent;
    font-size: 18px;
    font-weight: bold;
  }
  .btn:focus {
    outline: 0;
    box-shadow: none!important;
}
}
.input-last {
	justify-content: center;
	.form-control {
		width: 50%;
	}
}

#accordion {
  &:active,&:hover, &:focus {
    .card {
    .card-header {
      background-color: $blu;
      transition: all .3s ease-in-out;
    
  	.sub {
  		color: #fff;
      .acc-title {
          span {
            
            color: #fff;
          }
  	}
    }
  }
  }
}
	cursor: pointer;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);	
  transition: all .3s ease-in-out;
  .card {
  	background-color: #fff;
  	.card-header {
      position: relative;
      padding: 0;
      background-color: #fff;
      .sub {
      	padding: 1.45em 1.25rem;
      	span {
      		letter-spacing: .1em;
          font-weight: bold;
          text-transform: uppercase;
          font-size: .85em;
      	}
        .text-center {
        	span {
        		margin-left: -30px;
        		font-size: .85em;
        	}
        }
      	.acc-title {
      		span {
      			padding-left: 75px;
      			color: $blu;
      		}
      		
      	}
      }
      &:after {

      }
  	}
  	.card-body {
  		background-color: #f1f1f1;
      padding-left: 5px;
      padding-right: 5px;

  	}
  }
 
}

}


#exampleModalCenter {
  z-index: 99999;
 .modal-content {
  padding: 20px;
  border-radius: 18px;
 }
  .modal-header {
    justify-content: center;
    h5 {
     color: #000000;
    }
  }
  .modal-body {
    .form-control {
      width: 100%;
      margin: 10px 0;
      border-radius: 21px;
      padding: .575rem 1.4rem;
      height: calc(2.95rem + 2px);
    }
  }
  .modal-footer {
    justify-content: center;
     .btn {
      border-radius: 32px;
      padding: 1.1rem 2.2rem;
      font-size: 13px;

     }
    .btn-secondary {
    color: #a0a1a2;
    background-color: #dee6ee;
    border-color: #dee6ee;
    &:hover {
      color: #f1f1f1;
      background-color: #667a8e;
      border-color: #667a8e;
    }
}
  }

  .form-control::-webkit-input-placeholder {
  color: #000;
}
.form-control::input-placeholder {
  color: #000;
}
.form-control::-moz-input-placeholder {
  color: #000;
}
}


.wrapp-total {
  max-width: 350px;
  ul {
    margin-top: -15px;
    li {
      border-bottom: 1px solid #4179b9;
      padding: 10px 0;
      &:first-child {
        span {
          font-size: 25px;
        }
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.total-count {
  padding: 40px 0;
  .btn {
    margin-top: 45px;
  }
}











footer {
	background-color: #f6f7fa;
	padding: 60px 0;
	h3 {
		color: #6f6f6f;
		font-size: 1.4rem;
		text-transform: uppercase;
    margin-bottom: 15px;
	}
	ul {
		color: #000000;
		li {
			a {
				color: #000000;
				font-size: 15px;
			}
		}
	}














	.footer-contact {
		i {
			margin-right: 2px;
			font-size: 19px;
			color: #003c80;
		}
		.fa-map-marker {
			margin-right: 8px;
		}
		ul {
			li {
				margin-bottom: 3px;
			}
			li:nth-child(1) {
				span {
					font-family: $hb;
					color: #003c80;
					font-size: 18px;
				}
			}
		}
	}
	.footer-form {
		.btn {
			font-size: 16px;
		}
	}
	.icon-bottom {
		i {
			margin: 0 10px;
			font-size: 20px;
		}
	}
}


.bottom-line {
  padding-top: 25px;
  span {
    font-size: 13.5px;
    color: #000;
    }
   a i {
      // font-size: 14px;
    }
  
}





@import "media";