@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($file-name + '.eot');
    src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
    url($file-name + '.woff') format('woff'),
    url($file-name + '.ttf')  format('truetype'),
    url($file-name + '.svg##{$font-name}')  format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}
@include font-face("OpenSans-Regular", "../fonts/OpenSans-Regular/OpenSans-Regular", $style: normal, $weight: normal);
@include font-face("OpenSans-Bold", "../fonts/OpenSans-Bold/OpenSans-Bold", $style: normal, $weight: normal);
@include font-face("OpenSans-Light", "../fonts/OpenSans-Light/OpenSans-Light", $style: normal, $weight: normal);
// @include font-face("HelveticaNeue", "../fonts/Helvetica/HelveticaNeue/HelveticaNeue", $style: normal, $weight: normal);
// @include font-face("HelveticaNeue-Bold", "../fonts/Helvetica/HelveticaNeue-Bold/HelveticaNeue-Bold", $style: normal, $weight: normal);
// @include font-face("HelveticaNeue-Light", "../fonts/Helvetica/HelveticaNeue-Light/HelveticaNeue-Light", $style: normal, $weight: normal);
