@import "_mixins/fontfacemix";
$accent: #f9c869;
$blu: #003c80;
$red: #f86868; 
$dark: #1a1a1a;
$space: #44243B;
$alb: #fff;
$over: #3d3c3c;


// $hn: 'HelveticaNeue';
// $hb: 'HelveticaNeue-Bold';



$hn: 'OpenSans-Regular';
$hb: 'OpenSans-Bold';
// @mixin test-table() {
  
// }